label.justified {
	width: 150px;
	float: left;
}

select.justified {
	min-width: 200px;
}

input.justified {
	width: 200px;
}

span.readonly {
    width: 200px;
}

span.readonlyError {
	width: 200px;
	color: #CC0000;
}

span.readonlyWarning {
	width: 200px;
	color: #FF9900;
}

span.readonlyMessage {
	font-size:11pt;
	width: 200px;
	color: #009900;
	font-weight: bold;
}

body {
               font-family:Arial;
               font-size:9pt;
               margin-top: 5px;
               margin-left: 8px;
               margin-right: 8px;
               color: #000000;
               /*
               scrollbar-face-color: #C6C6C6;
               scrollbar-highlight-color: #FFFFFF; 
               scrollbar-shadow-color: #FFFFFF; 
               scrollbar-3dlight-color: #C0C0C0; 
               scrollbar-arrow-color: #333366; 
               scrollbar-track-color: #4F8FA0; 
               scrollbar-darkshadow-color: #333366;
               */
}

table {
               border-collapse: collapse;
}

/*navTD {
    font-size: 11px;
    color: #000000;
    font-family: Arial
}*/

.table.lightblue {
               border-collapse: collapse;
               background-color: #D9EBF4;
}

td {
               font-size:9pt;
    color: #404A51;
    font-family: Arial
}

th {
               /*font-size:8pt;
    vertical-align: top;
    color: #000000;*/
               font-size:9pt;
    font-weight: bold;
}

h1 {
    text-transform: none;
               font-size: 11pt;
    color: #666666;
    font-family: Arial;
}

.siteTitleTd {
               font-family: Arial;
               font-size:13pt;
               font-style:italic;
               color:#002469;
}

.siteTitleTd h1 {
               font-family: Arial;
               font-size:13pt;
               font-style:italic;
               color:#002469;
}

h2 {
               text-transform: none;
    font-size: 10pt;
    color: #333333;
    font-family: Arial;
}

h3 {
               text-transform: none;
    font-size: 10pt;
               font-weight:bold;
    color: #333333;
    font-family: Arial;
}

h4 {
               text-transform: none;
    font-size: 9pt;
               font-weight:bold;
    color: #333333;
    font-family: Arial;
}

a:hover {
               font-size:9pt;
    color: #555577;
}

a:visited {
               font-size:9pt;
    color: #555577;
               
               
}

td.rightpanel ul {
               font-size:9pt;
               margin: 0;
}

td.rightpanel a:hover {
               font-size:9pt;
    color: #555577;
}

td.rightpanel a:visited {
               font-size:9pt;
    color: #555577;
}

a:link {
               font-size:9pt;
    color: #002469;
}

hr {
               height: 1px;
               color: #002469;
}

.PageCrumbs {
               font-size: 7pt;
               color: #555577;
               font-family: Arial;
               text-align: right;
               text-transform: lowercase;
               text-decoration:none;
}

.PageCrumbs a:hover {
               font-size: 7pt;
               text-transform: lowercase;
    color: #555577;
               text-decoration:none;
}

.PageCrumbs a:visited {
               font-size: 7pt;
               text-transform: lowercase;
    color: #555577;
               text-decoration:none;
}

.PageCrumbs a:link {
               font-size: 7pt;
               text-transform: lowercase;
    color: #555577;
               text-decoration:none;
}

.siteTitleTd {
               padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 0px;
    width: 100%;
    padding-top: 0px;
}

.siteNavTd {
    padding-right: 3px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin: 0px;
    width: 100%;
    padding-top: 0px;
               vertical-align: bottom;
               font-family:Arial;
               font-size:8pt;
}

.siteNavTd a:link {
               font-size:8pt;
    color: #555577;
               text-decoration: none;
}

.siteNavTd a:hover {
               font-size:8pt;
    color: #555577;
               text-decoration: none;
}

.siteNavTd a:visited {
               font-size:8pt;
               text-decoration: none;
}

blockquote {
               margin-top: 0;
               margin-bottom: 0;
               margin-left: 15px;
}
.img_right_align {
               float: right;
               margin: 2px 0 3px 3px;
               
}              
.img_left_align {
               float: left;
               margin: 2px 3px 3px 0;
}
/* classes for the main.html start */

.headline {
               overflow:auto;
               border: none;
}

.mainTable {
               font-size:8pt;
               color: #333333;
               background-color: #FFFFFF;
               text-align: center;
               padding: 5px;
               width: 100%;
}

.navTable {
               font-size:8pt;
               color: #333333;
               background-color: #FFFFFF;
               text-align: left;
               padding: 5px;
               width: 298px;
               height: 100%;
               border: 1px solid #297B9A;
}

.navTable a:link {
               font-size:8pt;
               color: #333366;
               text-decoration:none;
}

.navTable a:visited {
               font-size:8pt;
               color: #333366;
               text-decoration:none;
}

.navTable a:hover {
               font-size:8pt;
               color: #333366;
               text-decoration:underline;
}

.navTable a:active {
               font-size:8pt;
               color: #333366;
               text-decoration:none;
}

.navCell {
               background-attachment: fixed;
               background-image: url("http://staff.unisa.ac.za/stafftest/images/file_gr.gif");
               background-repeat: no-repeat;
               background-position: 0px 0px;
               border: none;
               overflow: hidden;
               height: 23px;
               width: 298px;
               padding-left: 30px;
               padding-top: 8px;
               font-weight:bold;
               color: #666666;
}

.otherTables {
               font-size:8pt;
               color: #333333;
               background-color: #FFFFFF;
               text-align: center;
               padding: 5px;
               width: 100%;
               border: none;
}


#sizer {
               position                                                            : absolute;
               left                                                                     : 250px;
               top                                                                                    : 0px;
               z-index                                                              : 20;
}


               


/* START blog styles added by Vicka - 27 Oct 2010 || modified 17 Oct 2011 */
table.blogs td
{
               vertical-align:middle;
}

table.blogs td.blogTr
{
               height: 15px;
               padding:0;
               background-image:url(http://www.unisa.ac.za/cmsys/staff/contents/images/blogTrBg.gif);
               background-repeat:repeat-x;
}
table.blogs td.blogTd
{
               width: 19px;
               padding:0;
               background-image:url(http://www.unisa.ac.za/cmsys/staff/contents/images/blogTdBg.gif);
               background-repeat:repeat-y;
}
table.blogs td.blogCat
{
               width:120px;
               vertical-align:middle;
}
td.blogImg {
               width:90px;
}
td.blogImg img
{
               border-radius:3px 3px 3px 3px;
               background-color:#F3F3F3;
               border:1px solid #DDDDDD;          
               padding:5px;
               margin-right:10px;
}
.blogLeadTitle {
               color:#002469;
               font-family:Arial,Helvetica,sans-serif;
               font-size:15px;
               font-weight:bold;
}
td.blogCat a:link, td.blogCat a:visited {
    color:#002469;
               font-size:12px;
    text-decoration:none;
               vertical-align:middle;
               font-weight:bold;
}
td.blogCat a:hover {
    text-decoration:underline;
}

table.tbBorder {
               border-width: 1px;
               border-spacing: 0px;
               border-style: solid;
               border-color: #999;
               border-collapse: collapse;
               background-color: white;
}
table.tbBorder th {
               border-width: 1px;
               padding: 1px;
               border-style: solid;
               border-color: #999;
               background-color: white;
               -moz-border-radius: 0px 0px 0px 0px;
}
table.tbBorder td {
               border-width: 1px;
               padding: 3px;
               border-style: solid;
               border-color: #999;
               background-color: white;
               -moz-border-radius: 0px 0px 0px 0px;
}
table.tbBorder td.heading_vc       {
               background-color: #dadef9;
               font-weight: bold;
               padding: 5px 0 5px 2px;
}
/* END blog styles added by Vicka - 27 Oct 2010 */

/*library secure styling - added by Thato ; 24 May 2011*/
table.tbBorderLib {
                border-width: 1px;
                border-spacing: 0px;
                border-style: solid;
                border-color: #999;
                border-collapse: collapse;
                background-color: white;
}
table.tbBorderLib th {
                border-width: 1px;
                padding: 1px;
                border-style: solid;
                border-color: #999;
                background-color: white;
                -moz-border-radius: 0px 0px 0px 0px;
}
table.tbBorderLib td {
                border-width: 1px;
                padding: 3px;
                border-style: solid;
                border-color: #999;
                background-color: white;
                -moz-border-radius: 0px 0px 0px 0px;
}
table.tbBorderLib td.heading           {
                background-color: #c6d9f1;
                font-weight: bold;
                padding: 5px 0 5px 2px;
                color:#000000;
}
/*END library secure styling - added by Thato ; 24 May 2011*/

/* END blog styles added by Vicka - 20 Sep 2011 */
table.policiesTable th {
               background-color:#ccc;
               text-transform:uppercase;
               border:1px solid #ffffff;
               text-align:left;
               padding-left:15px;
}

table.policiesTable td {
               background-color:#efefef;
               vertical-align:top;
               border:1px solid #ffffff;
}

table.policiesTable td ul {
               margin-bottom:0px;
}
table.policiesTable td li {
               margin-left:-17px;
}
table.policiesTable td.blank
{
               background-color:#ffffff;
}
.publication_thumb {
               border:1px solid #c1c1c1
}
