<fieldset>
	$errors
	$errorMessages
	$actionErrors
	$actionMessages
    <form action="load-database.action" method="POST" enctype="multipart/form-data">
		
        <input type="file" id="accessFile" name="accessFile" />
        <input type="hidden" id="historyOnly" name="historyOnly" value="false" />
        <input type="checkbox" id="historyOnly" name="historyOnly">History Only</input>
        <select id="baseYear" name="baseYear">
            <option value="2015">2015</option>
	    <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
        </select>
        <input type="submit" value="Upload" />
    </form>
</fieldset>
